@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
}

:root {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}

.container {
  @apply px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20;
}

.btn-primary {
  @apply font-bold transition duration-200 py-5 px-7 text-xl rounded-lg border-transparent border-2 text-white bg-gradient-to-r from-[#818DFE] to-[#9774FF] hover:bg-gradient-to-l cursor-pointer  mt-2;
}

.btn-details {
  @apply font-bold transition duration-200 py-3 px-5 text-xl rounded-lg border-transparent border-2 text-white bg-gradient-to-r from-[#818DFE] to-[#9774FF] hover:bg-gradient-to-l cursor-pointer;
}

.section-title {
  @apply font-extrabold text-5xl mb-4;
}

.description {
  @apply font-medium text-[#757575] gap-10;
}

.active {
  @apply font-medium tracking-wide text-cyan-600 transition-colors duration-200;
}

.text-gradient {
  @apply bg-gradient-to-r from-[#818DFE] to-[#9774FF] text-transparent bg-clip-text hover:bg-gradient-to-l;
}
